@import 'common/reset';
@import 'common/global';
@import 'common/grid';
@import 'common/button';
@import 'common/markdown';

@import 'partials/offering';
@import 'partials/offering-stub';
@import 'partials/content-hidden';

@import 'pages/index';
@import 'pages/company';
@import 'pages/error';

.common__page-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
}

.common__content {
  padding-top: 80px;
}

.common__feature {
  margin-bottom: 32px;
}

.common__feature__icon {
  width: 25%;
  padding-bottom: 24px;
}

.common__feature__icon img {
  width: 100%;
  height: auto;
}

.common__feature__content {
  width: 100%;
}

.common__feature__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  padding: 0 0 16px;
}

.common__feature__description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
}

.common__feature__description p {
  padding-bottom: 16px;
}

/* Small */
@media (min-width: 600px) {
  .common__page-title {
    font-size: 48px;
    line-height: 57px;
  }

  .common__feature {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .common__feature__content {
    width: 75%;
  }
}

/* Medium */
@media (min-width: 768px) {
  .common__page-title {
    font-size: 56px;
    line-height: 67px;
  }

  .common__content {
    padding-top: 96px;
  }
}

/* Large */
@media (min-width: 1024px) {
  .common__page-title {
    font-size: 64px;
    line-height: 76px;
  }

  .common__feature__icon {
    width: 16.66%;
  }

  .common__feature__content {
    width: 50%;
  }
}

/* XLarge */
@media (min-width: 1209px) {
}

/* ----------------------------------------------------------------
END GLOBAL MODIFIERS
---------------------------------------------------------------- */

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.index__banner {
  height: 202px;
  margin-top: 80px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.index__banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.index__banner__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.index__banner__title em {
  font-style: normal;
  color: #003DC6;
}

/* Small */
@media (min-width: 600px) {
  .index__banner {
    height: 380px;
  }

  .index__banner__content {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .index__banner__title {
    font-size: 48px;
    line-height: 57px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .index__banner {
    margin-top: 96px;
    height: 512px;
  }

  .index__banner__content {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .index__banner__title {
    font-size: 56px;
    line-height: 67px;
    text-align: left;
    max-width: 60%;
  }
}

/* Large */
@media (min-width: 1024px) {
  .index__banner {
    height: 592px;
  }

  .index__banner__title {
    font-size: 64px;
    line-height: 76px;
    max-width: 648px;
  }
}

/* XLarge */
@media (min-width: 1209px) {
}

.offering__title-2 {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 20px;
}

.offering__title-2.--hidden {
  display: none;
}

.offering__primary__investment {
  font-size: 15px;
  line-height: 140%;
  color: rgba(8, 30, 57, 0.6);
  text-align: center;
  margin-bottom: 16px;
}

.offering__primary__investment__commited {
  display: block;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #081E39;
  margin-bottom: 8px;
}

.offering__primary__investment-progress {
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 61, 198, 0.2);
  overflow: hidden;
  margin-bottom: 14px;
}

.offering__primary__investment-progress-finished {
  content: '';
  display: block;
  height: 100%;
  background: #003DC6;
}

.offering__primary__investment-features {
  margin-bottom: 18px;
  text-align: center;
}

.offering__primary__investment-features__item {
  margin-bottom: 27px;
}

.offering__primary__investment-features__item__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.54px;
  color: rgba(8, 30, 57, 0.6);
  margin-bottom: 4px;
}

.offering__primary__investment-features__item__value {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.54px;
  color: #081E39;
}

.offering__contacts {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-bottom: 64px;
}

.offering__contacts__list {
  background: rgba(8, 30, 57, 0.05);
  border-radius: 12px;
  padding: 16px 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.offering__contacts__list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  margin: 6px 0 21px;
}

.offering__contacts__list__item__title {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.54px;
  color: rgba(8, 30, 57, 0.6);
  margin-bottom: 4px;
}

.offering__contacts__list__item__value {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.54px;
  color: #081E39;
}

.offering__contacts__map-link {
  display: block;
}

.offering__contacts__map {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}

/* Small */
@media (min-width: 600px) {
  .offering__title-2 {
    margin-bottom: 24px;
  }

  .offering__contacts__list {
    max-height: 340px;
  }

  .offering__contacts__list__item {
    width: 50%;
  }

  .offering__contacts__list__item.--map {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Medium */
@media (min-width: 768px) {
  .offering__title-2 {
    font-size: 32px;
    line-height: 38px;
    text-align: left;
  }

  .offering__primary__investment {
    text-align: left;
  }

  .offering__primary__investment__commited {
    font-size: 32px;
    line-height: 38px;
  }

  .offering__primary__investment-progress {
    margin-bottom: 22px;
  }

  .offering__primary__investment-features {
    text-align: left;
  }
}

/* Large */
@media (min-width: 1024px) {
  .offering__primary__investment-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
  }

  .offering__primary__investment-features__item {
    width: 50%;
    padding: 0 12px;
  }

  .offering__contacts__list {
    max-height: 250px;
  }

  .offering__contacts__list__item {
    width: 33.33%;
  }
}

.invest {
  padding-top: 80px;
}

.invest__start,
.raise__start {
  padding-bottom: 14px;
}

.invest__start__title,
.raise__start__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 16px;
}

.invest__start__instructions,
.raise__start__instructions {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
}

.invest__start__link,
.raise__start__link {
  margin-bottom: 48px;
}

/* Medium */
@media (min-width: 768px) {
  .invest,
  .raise {
    padding-top: 96px;
  }
}

.about {
  padding-top: 80px;
}

.invest__title,
.raise__title,
.about__title {
  margin: 32px 0 24px;
}

.about__main {
  max-width: 744px;
  margin-bottom: 64px;
}

.about__excerpt {
  font-size: 24px;
  line-height: 140%;
  margin: 24px 0 64px;

  strong, b {
    font-weight: bold;
  }
}

/* Small */
@media (min-width: 600px) {
  .invest__title,
  .raise__title,
  .about__title {
    margin: 48px 0 24px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .about {
    padding-top: 96px;
  }

  .about__title {
  }
}

/* Large */
@media (min-width: 1024px) {
  .invest__title,
  .raise__title,
  .about__title {
    margin: 64px 0 24px;
  }

  .about__main {
    width: 66.66%;
  }
}

.risks {}

.risks__title {
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 24px;
  max-width: 744px;
  text-align: center;
}

.risks__excerpt {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  padding-bottom: 16px;
  max-width: 744px;
}

.risks__excerpt p {
  padding-bottom: 16px;
  margin: 0;
}

.risks__links {
  padding: 0 0 64px;
  max-width: 744px;
  text-align: center;
}

.risks__links a {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.risks__legal {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #9CA5B0;
  padding-bottom: 16px;
  max-width: 744px;
}

.risks__legal p {
  padding-bottom: 16px;
  margin: 0;
}

/* Small */
@media (min-width: 600px) {
}

/* Medium */
@media (min-width: 768px) {
  .risks__title {
    text-align: left;
  }

  .risks__links {
    text-align: left;
  }
}

/* Large */
@media (min-width: 1024px) {
}

/* XLarge */
@media (min-width: 1209px) {
}
