@import 'common/colors';
@import 'common/fonts';
@import 'common/media';
@import 'common/button';
@import 'common/utils';

.navbar {
  height: 80px;
  margin-bottom: -80px;
  position: relative;
  z-index: 1;

  @include screen('>small') {
    height: 96px;
    margin-bottom: -96px;
  }

  &.--white {
    background-color: rgba(0, 0, 0, 0.3);

    &[data-is-open="1"] {
      background-color: $color-white;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin: 0 -24px;
    justify-content: space-between;
    height: 100%;
    position: relative;

    @include screen('>xsmall') {
      margin: 0 -32px;
    }
  }

  &__logo {
    height: 24px;
    width: auto;

    &--white {
      display: none;

      .--white & {
        display: block;
      }

      .--white[data-is-open="1"] & {
        display: none;
      }
    }

    &--black {
      display: block;

      .--white & {
        display: none;
      }

      .--white[data-is-open="1"] & {
        display: block;
      }
    }

    @include screen('>small') {
      height: 32px;
    }
  }

  &__logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 32px;
    position: relative;
    z-index: 1;
  }

  &__menu-toggle {
    display: block;
    border: none;
    color: transparent;
    width: 80px;
    height: 80px;
    background: url('../img/ic_menu_toggle.svg') center no-repeat;
    flex: 0 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    order: 1;

    .--white & {
      background-image: url('../img/ic_menu_toggle_white.svg');
    }

    [data-is-open="1"] & {
      background-image: url('../img/ic_close_24.svg');
    }

    @include screen('>small') {
      display: none;
    }
  }

  &__menu {
    display: none;
    flex: 1 0 auto;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;

    [data-is-open="1"] & {
      display: flex;
      background: $color-white;
    }

    @include screen('>small') {
      display: flex;
      position: static;
      justify-content: flex-end;
      flex-direction: row;
      width: auto;
      height: auto;
      background: none;
    }
  }

  &__menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 0 0 auto;

    & + & {
      border-top: 2px solid $color-black-10;

      @include screen('>small') {
        border-top: none;
        padding-left: 40px;
      }
    }

    @include screen('>small') {
      padding: 0 16px;
      margin: 0;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-end;
      flex: 0 0 auto;
    }
  }

  &__menu-item {
    padding: 0 28px;
    display: flex;
    align-items: center;

    @include screen('>small') {
      padding: 0 8px;
      display: flex;
      align-items: center;
    }
  }

  &__menu-link {
    padding: 23px 4px 22px;
    @include font-button-2;
    text-decoration: none;
    color: $color-black;
    display: block;
    flex: 1 0 auto;
    @include transition(color);

    &:hover {
      text-decoration: none;
      color: $color-blue-60;

      .--white & {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &:active {
      text-decoration: none;
      color: $color-blue;

      .--white & {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    &.--current {
      color: $color-blue;
    }

    @include screen('>small') {
      padding: 4px;
      flex: 0 0 auto;

      .--white & {
        color: $color-white;
      }
    }

    &.--button {
      @include screen('>small') {
        @include small-button;
        padding: 7px 14px;
      }
    }

    .--white &.--button {
      @include screen('>small') {
        border-color: $color-white;
        background: $color-white;
        color: $color-blue;

        &:hover {
          border-color: $color-blue;
        }

        &:active {
          border-color: $color-blue;
          background: $color-blue-10;
        }
      }
    }
  }
}

// block body scroll, specific to navigation
@include screen('<=medium') {
  body[data-scroll="0"] {
    overflow: hidden;
  }

  body[data-scroll="0"] .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.footer {
  padding-top: 52px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.footer__company {
  padding: 0 0 9px;
}

.footer__copyright {
  position: relative;
  color: rgba(8, 30, 57, 0.5);
  font-size: 12px;
  margin-top: 24px;
  letter-spacing: -0.54px;
}

.footer__navigation {
  margin: 0 -8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__navigation-section {
  width: 50%;
  padding: 24px 8px 16px;
}

.footer__navigation-section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.54px;
  color: #B5BCC4;
  padding: 0 0 8px;
}

.footer__navigation-item {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 8px 0;
}

.footer__navigation-link {
  color: #6B7888;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.footer__navigation-link:hover {
  text-decoration: underline;
}

.footer__navigation-item-icon {
  width: 14px;
  height: auto;
  fill: #6B7888;
  margin-right: 12px;
  flex: 0 0 auto;
}

/* Small */
@media (min-width: 600px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 43px;
  }

  .footer__navigation-section {
    width: 25%;
  }
}

/* Medium */
@media (min-width: 768px) {
}

/* Large */
@media (min-width: 1024px) {
  .footer {
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }

  .footer__company {
    width: 33.33%;
  }

  .footer__navigation {
    width: 66.66%;
  }

  .footer__navigation-section {
    padding-top: 0;
  }
}

/* XLarge */
@media (min-width: 1209px) {
}
