<div class="content-hidden">
  <h4 class="content-hidden__title">{{__ 'content-hidden.title' companyTitle}}</h4>
  <a href="//id.{{ @root/env.FRONTEND_ROOT_DOMAIN_NAME }}/kyc" class="content-hidden__link small-button">
    <span class="small-button__text">{{__ 'offering-stub.action.verify'}}</span>
  </a>
  <p class="content-hidden__notice">{{__ 'offering-stub.notice'}}</p>
</div>
