<section class="risks">
  <h2 class="risks__title">Risks</h2>
  <div class="risks__excerpt">
    <p>Investing in private placements and early-stage startups can be very rewarding, but it involves risks, including loss of capital, illiquidity, lack of dividends, and dilution. Jibrel is targeted exclusively at investors who are sufficiently sophisticated to understand these risks and make their own investment decisions. You will only be able to invest via Jibrel.com once you are registered as sufficiently sophisticated.</p>
  </div>
  <div class="risks__links">
    <a href="/docs/en/risk-disclosures.pdf" target="_blank">Read the full risk disclosures</a>
  </div>
  <div class="risks__legal">
    <p>This offer is an Exempt Offer in accordance with the Market Rules of the Abu Dhabi Global Market ("ADGM") Financial Services Regulatory Authority. This Exempt Offer material is intended for distribution only to Persons of a type specified in the Market Rules. It must not be delivered to, or relied on by, any other Person. The ADGM Financial Services Regulatory Authority has no responsibility for reviewing or verifying any documents in connection with Exempt Offers. The ADGM Financial Services Regulatory Authority has not approved this Exempt Offer document nor taken steps to verify the information set out in it, and has no responsibility for it. The Securities to which this Exempt Offer relates may be illiquid and/or subject to restrictions on their resale. Prospective purchasers of the Securities offered should conduct their own due diligence on the Securities. If you do not understand the contents of this Exempt Offer you should consult an authorised financial advisor.</p>
    <p>The Exempt offer material has been approved as a financial promotion by Jibrel Limited ("Jibrel"). Jibrel is authorised and regulated by the Financial Services Regulatory Authority for the purposes of developing financial technology services within the RegLab. Nothing in this offer document is intended to be or should be construed as investment advice. In approving this document, Jibrel’s role is solely limited to approving financial promotions for the purposes of the ADGM financial promotion rules, and should in no way be seen as an endorsement, recommendation or assessment of the suitability of a particular investment.</p>
  </div>
</section>
