<section class="risks">
  <h2 class="risks__title">{{__ 'risks.title'}}</h2>
  <div class="risks__excerpt">
    <p>{{__ 'risks.excerpt'}}</p>
  </div>
  <div class="risks__links">
    <a href="/docs/en/risk-disclosures.pdf" target="_blank">{{__ 'risks.links.disclosures'}}</a>
  </div>
  <div class="risks__legal">
    {{{__ 'risks.content'}}}
  </div>
</section>
