{{#> layouts/default}}
  <div class="page">
    <header class="page__header">
      {{> partials/navbar color="black" }}
    </header>
    <div class="page__content">
      <article class="common__centered">
        <h1 class="common__page-title">404 Not Found</h1>
      </article>
    </div>
    <footer class="page__footer">
      {{> partials/footer }}
    </footer>
  </div>
{{/layouts/default}}
