{{#> layouts/default}}
    <div class="page">
        <header class="page__header">
          {{> partials/navbar color="black" }}
        </header>
        <div class="page__content">
            <article class="about common__centered">
                <h1 class="about__title common__page-title">About</h1>
                <div class="about__main">
                    <p class="about__excerpt">Jibrel is a fully-regulated, blockchain-based private financing and equity management platform.</p>
                    <div class="about__content common__markdown">
                        <img src="{{asset '/img/pic_portals.png'}}" alt="Potals leading to beautiful future" />
                        <h2>Invest in companies you believe in, on the same terms as leading VCs.</h2>
                        <p>Jibrel believes in the democratisation of investment access. Despite the unprecedented level of wealth created by the global startup economy, US$ 2.8 trillion between 2016 and 2018 alone, access to these wealth-creation opportunities remains largely limited to select Venture Capitalists and Angel Investors.</p>
                        <p>As global value exchange evolves to become permissionless and disintermediated, the need for decentralized and transparent equity offerings grows in importance. Jibrel provides a platform for investors to access venture opportunities on the same deal terms as lead VCs and Angel Investors. By ensuring deal terms are transparent, Jibrel reduces information and opportunity asymmetry.</p>
                        <img src="{{asset '/img/pic_docs.png'}}" alt="Digital documents" />
                        <h2>Manage your own equity with fully regulated digital securities.</h2>
                        <p>A key component of the Jibrel platform is digital equity. Using digital securities, investors can be their own equity custodians. By retaining direct control of their assets, investors enjoy a wide range of benefits, including ease of ownership transfer, access to secondary trading opportunities, as well as instant digital exit facilities, ensuring platform investments remain highly liquid at all times.</p>
                        <p>In addition, ventures who implement Jibrel’s digital equity solution benefit from simplified capitalization table management, automated governance and compliance, and streamlined investor management.</p>
                        <h2>Play a role in shaping the future.</h2>
                        <p>Tokenized equities are the natural progression of private equity and stock ownership. By utilizing Abu Dhabi Global Market’s (‘ADGM’) progressive regulatory frameworks and the transparent, decentralized and immutable nature of blockchains, Jibrel unlocks previously unthought-of possibilities in the world of equity issuance, management and trading. Moreover, Jibrel facilitates the transition from paper-based, centralized share repositories to blockchain-based shareholder registries, ultimately redefining how we buy, sell and transact private equity.</p>
                    </div>
                </div>
            </article>
        </div>
        <footer class="page__footer">
          {{> partials/footer }}
        </footer>
    </div>
{{/layouts/default}}
