{{#> layouts/default}}
    <div class="page">
        <header class="page__header">
          {{> partials/navbar color="black" }}
        </header>
        <div class="page__content">
            <article class="about common__centered">
                <h1 class="about__title common__page-title">About</h1>
                <div class="about__main">
                    <p class="about__excerpt">Jibrel is a fully-regulated private financing and equity management platform.</p>
                    <div class="about__content common__html-content">
                        <h2>Invest in companies you believe in, on the same terms as leading VCs.</h2>
                        <p>Jibrel believes in the democratisation of investment access. Despite the unprecedented level of wealth created by the global startup economy, US$ 2.8 trillion between 2016 and 2018 alone, access to these wealth-creation opportunities remains largely limited to select Venture Capitalists and Angel Investors.</p>
                        <p>As global value exchange evolves to become permissionless and disintermediated, the need for decentralized and transparent equity offerings grows in importance. Jibrel provides a platform for investors to access venture opportunities on the same deal terms as lead VCs and Angel Investors. By ensuring deal terms are transparent, Jibrel reduces information and opportunity asymmetry.</p>
                        <h2>Manage your own equity with full regulated digital securities.</h2>
                        <p>A key component of the Jibrel platform is digital equity. Using digital securities, investors can be their own equity custodians.By retaining direct control of their assets, investors enjoy a wide range of benefits, including ease of ownership transfer, access to secondary trading opportunities, as well as instant digital exit facilities, ensuring platform investments remain highly liquid at all times.</p>
                        <p>In addition, ventures who implement Jibrel’s digital equity solution benefit from simplified capitalization table management, automated governance and compliance, and streamlined investor management.</p>
                        <h2>Why Jibrel?</h2>
                        <h3>Unique Investment Opportunities</h3>
                        <p>Source opportunities from a previously inaccessible market of startups. Jibrel aims to better connect global investors with one of the fastest-growing startup economies in the world, the Middle East and North Africa.</p>
                        <h3>Early Access to Growing Startups</h3>
                        <p>Invest early in the disruption of multi-billion dollar industries alongside seasoned investors and industry veterans. Through the Jibrel platform, you’ll be able to support the companies you believe in and want to see succeed.</p>
                        <h3>Regulated & Enforced Investor Rights</h3>
                        <p>Ensure your investor rights are enforced. Investors directly own digitized equity through a fully regulated equity management platform. Using Jibrel, investors can exercise their governance rights through a simple interface.</p>
                        <h3>A Chance to Participate in an Emerging Technology</h3>
                        <p>Play a role in shaping the future. Tokenization of equity is a more efficient means of asset securitization. Digital securities provide a wide range of benefits to startups, investors and ecosystem enablers. Help us redefine how companies are built, funded and managed.</p>
                        <h2>Introducing Jibrel: The Future of Equity Ownership</h2>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9Xv03JMG4Mo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </article>
        </div>
        <footer class="page__footer">
          {{> partials/footer }}
        </footer>
    </div>
{{/layouts/default}}
