{{#> layouts/default}}
    <div class="page">
        <header class="page__header">
          {{> partials/navbar color="black" }}
        </header>
        <div class="page__content">
            <article class="invest common__content common__centered">
                <h1 class="invest__title common__page-title">Invest</h1>
                <div class="invest__main">
                </div>
            </article>
        </div>
        <footer class="page__footer">
          {{> partials/footer }}
        </footer>
    </div>
{{/layouts/default}}
