{{#> layouts/default}}
    <div class="page">
        <header class="page__header">
          {{> partials/navbar color="black" }}
        </header>
        <div class="page__content">
            <article class="raise common__content common__centered">
                <h1 class="raise__title common__page-title">Raise</h1>
                <div class="raise__main">
                </div>
            </article>
        </div>
        <footer class="page__footer">
          {{> partials/footer }}
        </footer>
    </div>
{{/layouts/default}}
