@mixin disabled {
  &:disabled, &[disabled], &:disabled:hover, &:disabled:active, &[disabled]:hover, &[disabled]:active {
    @content;
  }
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

$transition-duration-hover: .15s;

@mixin transition($properties, $duration: $transition-duration-hover, $timing-function: ease-in-out, $delay: unset) {
  transition-property: join((), $properties, comma);
  transition-duration: join((), $duration, comma);
  transition-timing-function: join((), $timing-function, comma);
  transition-delay: join((), $delay, comma);
}
