@import 'colors';
@import 'direction';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  color: $color-black;
}

body[dir="rtl"] {
  font-family: "Tahoma", sans-serif;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-blue;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: $color-blue-40;
}

.g-hidden {
  // Proper hiding leaves elements existent for screen readers
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;

  @include rtl {
    left: auto;
    right: -10000px;
  }
}
