@import 'colors';
@import 'media';
@import 'fonts';
@import 'direction';

.common__markdown {
  h2 {
    @include font-h2;
    margin-top: 48px;

    @include screen('>small') {
      margin-top: 64px;
    }
  }

  h3 {
    @include font-h3;
    margin-top: 48px;

    @include screen('>small') {
      margin-top: 64px;
    }
  }

  h4 {
    @include font-subheader-2;
    margin-top: 16px;

    @include screen('>small') {
      margin-top: 24px;
    }
  }

  :not(p) + p {
    margin-top: 16px;

    @include screen('>small') {
      margin-top: 24px;
    }
  }

  p {
    @include font-body;
    margin-top: 15px;

    @include screen('>small') {
      margin-top: 18px;
    }
  }

  ul {
    @include font-body;
    margin-top: 16px;

    @include screen('>small') {
      margin-top: 24px;
    }

    li {
      padding-left: 24px;
      margin-top: 15px;
      position: relative;

      @include rtl {
        padding-left: initial;
        padding-right: 24px;
      }

      @include screen('>small') {
        margin-top: 18px;
      }

      &:first-child {
        margin-top: 0;
      }

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 0;
        color: $color-black-40;

        @include rtl {
          left: auto;
          right: 0;
        }
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 24px;
    margin: 16px 0 0;
    overflow: hidden;

    @include screen('>small') {
      margin-top: 24px;
    }
  }

  iframe {
    background: $color-blue-10;
    max-width: 100%;
    margin: 16px 0 0;

    @include screen('>small') {
      margin-top: 24px;
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid $color-black-10;
    margin: 16px 0;

    @include screen('>small') {
      margin: 24px 0;
    }
  }

  strong {
    font-weight: bold;
  }

  &.--company {
    .tagline {
      display: block;
      @include font-h1;
      margin: 16px 0 0;

      @include screen('>small') {
        margin: 24px 0 0;
      }
    }

    .tagline p {
      display: block;
      font-size: inherit;
      line-height: inherit;
      text-decoration-color: inherit;
      font-weight: inherit;
    }

    .tagline s {
      display: block;
      -webkit-text-decoration-line: line-through;
      text-decoration-line: line-through;
      -webkit-text-decoration-style: solid;
      text-decoration-style: solid;
      text-decoration-color: inherit;
      text-decoration-thickness: 8px;
    }

    .tagline em {
      display: block;
    }

    .team {
      display: block;
      color: $color-black-40;
      margin: 16px 0 0;

      @include screen('>small') {
        margin: 24px 0 0;
      }
    }

    .team ul {
      display: block;
    }

    .team ul li {
      position: static;
      padding: 0 0 15px;

      @include screen('>small') {
        padding-bottom: 18px;
      }
    }

    .team ul li::before {
      content: none;
    }

    .team ul li strong {
      color: $color-black;
      padding-right: 8px;
    }
  }
}
