@import '../common/navigation-offset';
@import '../common/colors';
@import '../common/fonts';
@import '../common/media';
@import '../common/utils';
@import '../common/direction';

.main-hero {
  height: 202px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 80px;

  @include rtl {
    transform: scaleX(-1);
  }

  @include screen('>xsmall') {
    height: 380px;
  }

  @include screen('>small') {
    height: 512px;
    margin-top: 0;
    padding-top: 96px;
  }

  @include screen('>medium') {
    height: 592px;
  }

  @include media('screen-only', '>=2060px') {
    background-size: contain;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;

    @include rtl {
      align-items: flex-end;
    }

    @include screen('>xsmall') {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include screen('>small') {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &__title {
    @include font-h1-xs;
    text-align: center;

    @include screen('>xsmall') {
      @include font-h1-s;
    }

    @include screen('>small') {
      text-align: left;
      max-width: 60%;
      @include font-h1-m;
    }

    @include screen('>medium') {
      max-width: 648px;
      @include font-h1-l;
    }

    em {
      font-style: normal;
      color: $color-blue;
    }
  }
}

.companies {
  margin-top: 40px;
  margin-bottom: 96px;

  @include screen('>xsmall') {
    margin-top: 56px;
  }

  @include screen('>medium') {
    margin-top: 72px;
  }

  @include screen('>large') {
    margin-top: 64px;
  }

  &__title {
    @include font-h1-xs;
    text-align: center;

    @include screen('>xsmall') {
      @include font-h1-s;
    }

    @include screen('>small') {
      @include font-h1-m;
      text-align: left;

      @include rtl {
        text-align: right;
      }
    }

    @include screen('>medium') {
      @include font-h1-l;
    }
  }

  &__list {
    margin-top: 40px;
    margin-bottom: 0;
    list-style: none;
  }

  &__list-item {
    height: 554px;
    padding-bottom: 24px;
  }
}

.company-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-color: $color-black-30;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  color: #fff;

  &__contents {
    position: relative;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    padding: 280px 32px 32px;
    @include transition(background-color);
  }

  &__logo {
    position: absolute;
    display: flex;
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background: #fff;
    top: 32px;
    left: 32px;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include rtl {
      right: 32px;
      left: auto;
    }
  }

  &__logo-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    @include font-h3-s;
    margin: 0 0 8px;

    @include screen('>small') {
      @include font-h3-l;
    }
  }

  &__status {
    position: absolute;
    top: 32px;
    right: 32px;
    background: $color-blue-10;
    color: $color-black;
    @include font-button-2;
    padding: 5px 8px;
    border-radius: 4px;

    @include rtl {
      left: 32px;
      right: auto;
    }

    &.--completed {
      background: $color-green;
      color: $color-white;
    }

    &.--waitlist {
      background: $color-blue;
      color: $color-white;
    }
  }

  &__tagline {
    margin: 8px 0 47px;
    flex: 0 0 auto;
    height: 105px;
    @include font-body-s;

    @include screen('>small') {
      margin: 8px 0 27px;
      height: 125px;
      @include font-body-l;
    }
  }

  &__location {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.6);
    @include ellipsis;

    @include font-body-s;

    @include screen('>small') {
      @include font-body-l;
    }
  }

  &__stats {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 205px 32px 32px;
    display: none;
  }

  &__stats-note {
    @include font-body;
  }

  &__stat {
    &.--completed {
      color: $color-green;
    }
  }

  &__stat-title {
    margin-bottom: 4px;
    @include font-body-s;

    @include screen('>small') {
      @include font-body-l;
    }
  }

  &__stat-value {
    margin-bottom: 16px;
    @include font-h3-s;

    @include screen('>small') {
      @include font-h3-l;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:hover &__contents {
    background: rgba(0, 0, 0, 0.6);
  }

  &.--with-stats:hover &__contents {
    padding: 152px 32px 32px;
  }

  &.--with-stats:hover &__tagline,
  &.--with-stats:hover &__location {
    display: none;
  }

  &.--with-stats:hover &__stats {
    display: block;
  }

  &:focus, &:active {
    color: #fff;
  }
}
